#share a {
text-indent:-9999px;
display: block;
border:0; padding:0; margin:0px auto;
width: 16px; 
height: 16px;
background:url(../../../../icons/fb.png) top left no-repeat;
overflow: hidden;
text-decoration:none !important;
}

#button {
    height: 25px;
    float: left;
    position: relative;
    line-height: 22px;
    background: url(../../../../icons/tweet.png) no-repeat top center;
}

#buttonSyberia {
    height: 25px;
    float: left;
    position: relative;
    line-height: 22px;
    background: url(../../../../icons/tweet.png) no-repeat top center;
}

.tweet {
    font-family:"Lucida Grande","Lucida Sans Unicode", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 0 0px;
}

.tweet a {
    color: white; text-decoration: none; 
}

.tweet a:hover {
    text-decoration: underline; 
}


.likeButtons {
    background: url("../i/arrow_down.png") no-repeat scroll 0 0 transparent;
    font-weight: bold;
    line-height: 150%;
    padding: 0 0 5px 21px;
    text-decoration: none;
}

.show {
    background-image: url("../i/arrow_up.png");
}
.likeButtons span {
    border-bottom: 1px dotted #1481B4;
    cursor: pointer;
}
.innerLike {
    float: left;
    height: 35px;
    width: 110px;
    padding: 0 0 0 10px;
}
.innerMailLike {
    float: left;
    height: 35px;
    width: 230px;
    padding: 0 0 0 10px;
}
.social-wrap {
    padding: 13px 0 15px;
    border-top: 1px solid #D8D8D8;
    margin: 0 20px;
}
.content-wrapper-3 .content #likes {
    height: 90px;
}
#likes {
    display: none;
    padding: 15px 0 0 0;
    height: 50px;
}
.texts .innerLike .b {
    border-bottom: none;
}



.odkl-share-oc, .odkl-share-oc {background:none;}
.odkl-share-oc:hover, .odkl-share-oc:hover {background:none;}
.odkl-share-oc:hover {background: url(../../../../icons/odn.png) no-repeat;}
.odkl-share-oc {background: url(../../../../icons/odn.png) no-repeat;}


     .std
     {
         style="padding:5px 3px 2px 2px !important";
     }


